/***Style For Task One***/
@import url('https://fonts.googleapis.com/css2?family=League+Spartan:wght@100;400&family=Montserrat:wght@400;500;600;700&family=Poppins:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,200;1,300;1,400;1,500;1,600;1,700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html{
    scroll-behavior: smooth;
}
body{
    font-family: 'League Spartan', sans-serif;
    font-family: 'Montserrat', sans-serif;
    font-family: 'Poppins', sans-serif;
    overflow-x: hidden;
}
nav{
    background-color: transparent !important;
    display: flex;
    justify-content:space-around;
    align-items: center;
    color: #000;
    padding: 25px 50px;
  }
  .nav-links {
      display: flex;
      justify-content:space-around;
      width: 50%;
      text-transform: uppercase;
  }
  .nav-links a{
    display: block;
     text-transform: capitalize;
     text-decoration: none;
     color: #000;
    border-bottom:2px solid transparent;
    transition:0.5s ease;
    transform: translateX(0%);
    font-size: 1rem;
    font-weight: 600;
  }
  .nav-links a:hover{
    color:#30C9E9;
  }
  /*Slider*/

    .slider {
        background-image: url('./img/background-img1.jpg');
        background-position: center;
        background-size: cover;
        display: block;
        height: 100vh;
        width: 100vw;
        position: absolute;
    }
   
   .sliderWrapper {
     width: 100vw;
     height: 60vh;
     display: flex;
     justify-content: center;
     position: relative;
     align-items: center;
     flex-direction: column;
     transition: all 1.5s ease-in-out;
     color: #ffffff;
   }