/***Style For Task One***/
@import url('https://fonts.googleapis.com/css2?family=League+Spartan:wght@100;400&family=Montserrat:wght@400;500;600;700&family=Poppins:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,200;1,300;1,400;1,500;1,600;1,700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html{
    scroll-behavior: smooth;
}
body{
    font-family: 'League Spartan', sans-serif;
    font-family: 'Montserrat', sans-serif;
    font-family: 'Poppins', sans-serif;
    overflow-x: hidden;
    background-image: url('./img/background-img1.jpg');
    background-position: center;
    background-size: cover;

}
nav{
    background-color: transparent !important;
    display: flex;
    justify-content:space-around;
    align-items: center;
    color: #000;
    padding: 25px 50px;
  }
  .nav-links {
      display: flex;
      justify-content:space-around;
      width: 50%;
      text-transform: uppercase;
  }
  .nav-links a{
    display: block;
     text-transform: capitalize;
     text-decoration: none;
     color: #000;
    border-bottom:2px solid transparent;
    transition:0.5s ease;
    transform: translateX(0%);
    font-size: 1rem;
    font-weight: 600;
  }
  .nav-links a:hover{
    color:#30C9E9;
  }
  /*Slider*/

    .slider {
        
        display: block;
        height: 300vh;
        width: 100vw;
        position: absolute;
        z-index: -1;
      
    }
   
   .sliderWrapper {
     width: 100vw;
     height: 60vh;
     display: flex;
     justify-content: center;
     position: relative;
     align-items: center;
     flex-direction: column;
     transition: all 1.5s ease-in-out;
     color: #ffffff;
   }
   .main-heading{
    color: #ffffff;
    text-align: center;
    font-size: 2rem;
    font-weight: 400;
    padding-bottom: 3%;
   }
   .main-form-area{
    display: flex;
    position: relative;
    padding-top: 3%;
   }
   .contentInfo{
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
    flex-direction: column;
   }
   .contentInfo h4{
    color: #9099AB;
    font-weight: 400;
    font-size: 1.2rem;
   }
   .contentInfo h1{
    font-size: 2rem;
    font-weight: 500;
    color: #5B7197;
    text-transform: capitalize;
   }
   .contentInfo p{
    width: 40%;
    font-weight: 500;
    font-size: 1rem;
    color: #9099AB;
   }

   .tab h6{
    font-weight: 400;
    font-size: 1rem;
    text-transform: uppercase;
    color: #94C7FC;
   }
   
   .card-header{
    background-color: #EEECFC !important;
    border: none !important;

   }
   .card-body{
    margin-left: 100px;
    margin-right: 100px;
   }
   .nav-pills .nav-link.active, .nav-pills .show>.nav-link {
    color: var(--bs-nav-pills-link-active-color);
    background-image: linear-gradient(#73B2FB, #A2DFFE) !important;
    }
    
    span.icon-area{
        background-color: #7A84ED;
    }
    i.fa-x{
        color: red;
    }
    i.fa-check{
        color: green;
    }
    i.fa-angle-right{
        color: #ffffff;
    }
    .btn-area{
        position: relative;
        right: -70%;
        top: 5%;
    }
    #back_button{
        color: #ffffff;
    }